@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@0,200;600;700&display=swap');


:root{
    --main-color:white;
}
*{
    font-family: "Nunito", sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}